h1 {
  top: 100px;
  color: #ffffff;
  font-family: dxsitrus;
  font-size: 7vw;
  line-height: 6vw;
}
.banner {
  height: 500px;
}


.row {
  padding: 0px 0 12px 0 !important;
}

.carousel-item {
  max-height: 400px !important;
}
